{% extends 'ecomm/base.html' %}
{% load i18n %}
{load account %}

{% block title %}{{ current_user.get_short_name }}{% endblock %}
{% block content %}
    <h1>{{ current_user.get_short_name}}</h1>
    <p>
        <a href="{% url 'account_change_password' %}">
            {% trans 'Change password' %}</a> |
        <a href="{% url 'account_email' %}">{% trans 'Change or add E-mail' %}</a>
    </p>
    <p>
        <strong>{% trans 'Username' %}:</strong> {{ current_user.username }}
    </p>
    <p>
        <strong>{% trans 'Email' %}:</strong> {{ current_user.email }}
    </p>
    {% if current_user.first_name or current_user.last_name %}
        <p>
            <strong>{% trans 'Name' %}</strong> {{ current_user.get_full_name }}
        </p>
    {% endif %}

{%endblock content %}