{% extends "ecomm/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>{% trans "Cart" %}</title>
{% endblock title %}

{% block content %}
    <div class="container-lg">
    <h1>{% trans "Your shopping cart" %}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Image" %}</th>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Remove" %}</th>
            <th>{% trans "Unit price" %}</th>
            <th>{% trans "Price" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image_in_main.url }}"
                            alt='{% static 'ecomm/images/no_image.jpg' %}'>
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' product.id%}">
                        {% trans "Remove" %}</a></td>
                    <td class="num">₴{{ item.price }}</td>
                    <td class="num">₴{{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>{% trans "Total" %}</td>
            <td colspan="4"></td>
            <td class="num">₴{{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'ecomm:home' %}" class="button light">{% trans "Continue shopping" %}</a>
        {% if cart|length > 0 %}
        <a href="{% url "order_create" %}" class="button">{% trans "Checkout" %}</a>
        {% endif %}
    </p>
    </div>
{% endblock %}