{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static  'ecomm/css/style.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'ecomm/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block mainmenu %}
<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
		{% if not forloop.last %}
				<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% else %}
				<li class="last"><a href="{% url m.url_name %}">{{m.title}}</a></li>
		{% endif %}
{% endfor %}
				</ul>
			</div>
{% endblock mainmenu %}

<!-- Sidebar слева -->

<!-- Конец Sidebar'а -->


{% block content %}
{% endblock content %}

</body>
</html>