{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static  'ecomm/css/style.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'ecomm/images/main.ico' %}" type="image/x-icon"/>
    {% include 'bootstrap/css/css.html' %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block extra_head %} {% endblock extra_head%}
</head>
<body>

{% include "ecomm/navbar.html" %}


{% block content %}
{% endblock content %}

{% include 'bootstrap/js/js.html' %}
</body>
</html>

