{% extends 'ecomm/base.html' %}
{% load static %}

{% block title %}
    <title>Купить {{ category.name }} в Украине</title>
{% endblock title %}


{% block content %}
{% include "ecomm/breadcrumb.html" %}

<div class="container-lg">
    <h1>{{ category.name }}</h1>
    <div class="row row-cols-3">
        {% for child in child_cat %}
            <div class="col">
            <a href="{% url 'ecomm:category' slug=child.slug %}">
                <div class="card">
                    {% if child.image %}
                    <img src="{{ child.image.url }}" width="300" height="300" class="card-img-top">
                    {% else %}
                    <img src="{% static 'ecomm/images/defoult.jpeg' %}" width="300" height="300" class="card-img-top">
                    {% endif %}
                    <h3>{{ child.name }}</h3>
                </div></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}