{% extends 'ecomm/base.html' %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<div class="product-detail">
<img class="img-article-left thumb" src="{% if product.image %}{{product.image.url}}{% endif %}">

<h2>
<a href="{{ product.category.get_absolute_url }}">{{product.category }}</a>
</h2>

<div class="product-info">
    <h1>{{ product.name }}</h1>
    <h3>{{ product.price }}</h3>
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
    </form>
    <p>{{ product.description }}</p>
</div>


<div class="product_charc">
<h4>Характеристики товара:</h4>
    {% for spec in product.productspecificationvalue_set.all %}
<p>{{ spec.specification }} - {{ spec.value }}</p>
    {% endfor %}
</div></div>
{% endblock %}




