<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    let method_field = document.getElementById("id_delivery_method")
    let country_field = document.getElementById("id_delivery_country")
    method_field.addEventListener("change", getMethodId)
    console.log(method_field)
    function getMethodId(method){
        console.log(method.target.value)
        let method_id = method.target.value

        const data = { id: method_id };
        let url = "{% url 'method_json' %}"

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Success:', data);
        country_field.innerHTML = '<option value="" selected="">---------</option>'
        for(let i = 0; i < data.length; i++){
            country_field.innerHTML = `<option value="${data[i]["id"]}" selected="">${data[i]["countries"]}</option>`
        }
    })
    .catch((error) => {
    console.error('Error:', error);
    });
    }
</script>