{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 style="margin-left: 23px">{% trans "Change Password" %}</h1>
    <h1 style="margin-left: 23px">Change Password</h1>

    <form method="POST" action="{% url 'account_change_password' %}"
          class="password_change" style="margin-left: 23px">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
    <table>
      <tr>
        <td>{{ form.oldpassword.label_tag }}</td>
        <td>{{ form.oldpassword }}</td>
      </tr>
      <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
      </tr>
      <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
      </tr>
    </table>
    <button type="submit" style="height: 30px; width: 160px; margin-left: 172px">
        <strong>{% trans 'Change password' %}</strong>
    </button><br>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock %}