{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1 style="margin-left: 23px">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p style="margin-left: 23px">{% blocktrans %}
        Forgotten your password? Enter your e-mail address below, and we'll send you
        an e-mail allowing you to reset it.{% endblocktrans %}
        </p>

    <form method="POST" action="{% url 'account_reset_password' %}"
          class="password_reset" style="margin-left: 23px">
        {% csrf_token %}
        <table>
      <tr>
        <td>{{ form.email.label_tag }}</td>
        <td>{{ form.email }}</td>
      </tr>
        </table>
        <button type="submit"
            style="height: 30px; width: 80px; margin-left: 59px">
            <strong>{% trans 'Reset' %}</strong>
        </button>
    </form>

    <p style="margin-left: 23px">{% blocktrans %}Please contact us if you have any
        trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
